{% extends 'layouts/base_layout.html' %}
{% load static %}
{% block title_layout %}Lista de Publicaciones | BLOG IA{% endblock title_layout %}

{% block content %}

<div class="order-buttons">
    <a href="?order=-creation_date" class="btn btn-primary">Ordenar por Fecha (Reciente)</a>
    <a href="?order=creation_date" class="btn btn-primary">Ordenar por Fecha (Antiguo)</a>
    <a href="?order=title" class="btn btn-primary">Ordenar Alfabéticamente (A-Z)</a>
    <a href="?order=-title" class="btn btn-primary">Ordenar Alfabéticamente (Z-A)</a>
</div>

    <h1>Lista de Publicaciones</h1>

    <form method="GET">
        <div class="input-group mb-3">
            <input type="text" name="search_query" placeholder="Buscar..." class="form-control" aria-label="Buscar...">
            <select name="order_by" class="form-select">
                <option value="-creation_date">Más recientes</option>
                <option value="creation_date">Más antiguos</option>
            </select>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>

    <!-- Bloque de botones basado en el rol del usuario -->
    <nav>
        {% if botones == 'admin' %}
            <button class="btn btn-warning">Gestionar Usuarios</button>
            <button class="btn btn-danger">Configurar Sistema</button>
            <button class="btn btn-info">Ver Reportes</button>
        {% elif botones == 'colaborador' %}
            <button class="btn btn-success">Ver Posts</button>
            <button class="btn btn-primary">Editar Posts</button>
        {% elif botones == 'usuario_registrado' %}
            <button class="btn btn-secondary">Perfil</button>
            <button class="btn btn-dark">Mis Publicaciones</button>
        {% else %}
            <button class="btn btn-outline-primary">Registrarse</button>
            <button class="btn btn-outline-secondary">Iniciar Sesión</button>
        {% endif %}
    </nav>

    {% if posts %}
        <div class="list-group">
            {% for post in posts %}
                <a href="{% url 'post:post_detail' post.slug %}" class="list-group-item list-group-item-action">
                    <h5 class="mb-1">{{ post.title }}</h5>
                    <p class="mb-1">{{ post.content|truncatewords:20 }}</p>
                    <small>{{ post.creation_date }}</small>
                </a>
            {% endfor %}
        </div>

        <div class="pagination">
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; Primera</a>
                {% endif %}
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}
                <span>{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
                {% endif %}
            {% endif %}
        </div>
    {% else %}
        <p>No hay publicaciones disponibles.</p>
    {% endif %}
{% endblock %}
