<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post de Película</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"/> -->
    <link rel="stylesheet" href="banner.css">
</head>
<body>

<div class="container mt-5">
    <div class="row">
        <div class="col-5 ">
            <img src=".static/assets/images/starwar.jpg" alt="Afiche de la película" class="movie-poster img-fluid w-100">
        </div>
        <div class="col-5 movie-info">
            <h2>La guerra de las galaxias</h2>
            <p><strong>Director:</strong> George Lucas</p>
            <p><strong>Género:</strong> Ciencia Ficción</p>
            <p><strong>Año:</strong> 1977</p>
            <p><strong>Descripción:</strong> La nave en la que viaja la princesa Leia es capturada por las tropas imperiales al mando del temible Darth Vader. Antes de ser atrapada, Leia consigue introducir un mensaje en su robot R2-D2, quien acompañado de su inseparable C-3PO logran escapar. Tras aterrizar en el planeta Tattooine son capturados y vendidos al joven Luke Skywalker, quien descubrirá el mensaje oculto que va destinado a Obi Wan Kenobi, maestro Jedi a quien Luke debe encontrar para salvar a la princesa.</p>
            
            <hr>
            <h5>Post</h5>
            <h6>Fecha</h6>
            <p><strong>Comentarios:</strong> Muy buena peli y toda la saga.</p>
            <button class="btn btn-success">Editar</button>
            <button class="btn btn-danger btn-custom">Eliminar</button>
            <hr>
        </div>
      
    </div>

    <hr class="my-4">

    <h4>Comentarios</h4>
    <div class="form-group">
        <textarea class="form-control" rows="4" placeholder="Escribe tu comentario aquí..."></textarea>
    </div>
    <button class="btn btn-primary">Postear</button>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
