{% extends 'layouts/base_layout.html' %}
{% load static %}

{% block title_layout %}Mis Publicaciones{% endblock title_layout %}

{% block content_layout %}
<div class="container mt-5">
    <a href="{% url 'home' %}" class="btn btn-primary mb-4">Volver al Inicio</a>
    <h2>Mis Publicaciones</h2>

    <div class="order-buttons">
        <a href="?order=-creation_date" class="btn btn-primary">Ordenar por Fecha (Reciente)</a>
        <a href="?order=creation_date" class="btn btn-primary">Ordenar por Fecha (Antiguo)</a>
        <a href="?order=title" class="btn btn-primary">Ordenar Alfabéticamente (A-Z)</a>
        <a href="?order=-title" class="btn btn-primary">Ordenar Alfabéticamente (Z-A)</a>
    </div>

    <div class="row">
        {% if posts %}
            {% for post in posts %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        {% if posts_with_images %}
                        <img src="{{post_with_img.first_image.image.url}}" class="card-img-top" alt="{{post_with_img.post.title}}">
                        {% else %}
                            <img src="{% static 'default_image.png' %}" class="post-image" alt="Imagen por defecto">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.content|truncatewords:20 }}</p>
                            <p><strong>Fecha:</strong> {{ post.creation_date }}</p>

                            <!-- Botones de acción -->
                            <a href="{% url 'post:post_detail' post.slug %}" class="btn btn-info">Ver</a>
                            <a href="{% url 'post:post_update' post.slug %}" class="btn btn-success">Editar</a>
                            <a href="{% url 'post:post_delete' post.slug %}" class="btn btn-danger">Eliminar</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No has publicado ningún post aún.</p>
        {% endif %}
    </div>

    <!-- Paginación -->
    <div class="pagination mt-4">
        {% if posts.has_previous %}
            <a href="?page=1">&laquo; Primera</a>
            <a href="?page={{ posts.previous_page_number }}">Anterior</a>
        {% endif %}
        <span>Página {{ posts.number }} de {{ posts.paginator.num_pages }}</span>
        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">Siguiente</a>
            <a href="?page={{ posts.paginator.num_pages }}">Última &raquo;</a>
        {% endif %}
    </div>
</div>
{% endblock content_layout %}
