{% load static %}

<!-- FOOTER -->
<footer class="bg-zinc-900 text-white py-4">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
        
        <!-- Sección de redes sociales -->
        <div class="social-links flex space-x-4 mb-4 md:mb-0">
            <a href="https://www.facebook.com" class="social-icon">
                <img src="{% static 'assets/icon/vecteezy_facebook.png' %}" alt="Facebook" class="h-10 w-10 object-contain">
            </a>
            <a href="https://x.com" class="social-icon">
                <img src="{% static 'assets/icon/vecteezy_twitter.png' %}" alt="Twitter" class="h-10 w-10 object-contain">
            </a>
            <a href="https://www.instagram.com" class="social-icon">
                <img src="{% static 'assets/icon/vecteezy_instagram.png' %}" alt="Instagram" class="h-10 w-10 object-contain">
            </a>
        </div>

        <!-- Links importantes -->
        <div class="footer-links flex space-x-6">
            <a href="{% url 'user:nosotros' %}" class="footer-link">Nosotros</a>
            <a href="{% url 'user:avisos_legales' %}" class="footer-link">Avisos Legales</a>
            <a href="{% url 'user:politc_privacidad' %}" class="footer-link">Política de Privacidad</a>
        </div>
    </div>

    <!-- COPYRIGHT -->
    <div class="container mx-auto text-center mt-4">
        <h1 class="text-lg font-bold">COPYRIGHT</h1>
        <p>© ES CINE. TODOS LOS DERECHOS RESERVADOS.</p>
    </div>
</footer>

<!-- Botón "Volver arriba" -->
<button onclick="scrollToTop()" id="back-to-top" title="Volver arriba" class="fixed bottom-4 right-4 bg-zinc-800 text-white p-3 rounded-full shadow-lg hidden">↑</button>

<!-- JavaScript para el botón "Volver arriba" -->
<script>
    // Función para desplazarse hacia arriba
    function scrollToTop() {
        window.scrollTo({ top: 0, behavior: 'smooth' });
    }

    // Mostrar el botón al desplazarse hacia abajo
    window.onscroll = function() {
        var backToTopButton = document.getElementById("back-to-top");
        if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
            backToTopButton.style.display = "block";
        } else {
            backToTopButton.style.display = "none";
        }
    };
</script>
