{% load static %}
<header class="h-14 text-white flex justify-center items-center bg-zinc-900">
    <div class="container mx-4 md:mx-8 lg:mx-40 flex justify-between items-center">
        <!-- Logo del sitio -->
        <a href="{% url 'home' %}" class="text-lg font-bold hover:text-clifford transition flex items-center">
            <img src="{% static 'assets/icon/vista-carrete-pelicula-3d.jpg' %}" alt="Logo" class="h-10 mr-2">  
            ES CINE
        </a>

        <!-- Barra de navegación -->
        <div class="flex-1">
            {% include 'components/ui/navbar.html' %}
        </div>

        <!-- Barra de búsqueda -->
        <div class="flex items-center space-x-4">
            <form action="{% url 'search' %}" method="get" class="relative">
                <input type="text" name="q" class="search-input" placeholder="Buscar...">
                <button type="submit" class="search-btn">Buscar</button>
            </form>
        </div>
    </div>
</header>
