{% extends 'layouts/base_layout.html' %}

{% load static %}

{% block title_layout %}Es Cine{% endblock title_layout %}

{% block content_layout %}
<!-- Contenido Principal -->
<div class="container">
    <h1 class="text-center my-4">Películas Recomendadas</h1>

    <!-- Menú Desplegable de Categorías -->
    <div class="dropdown mb-4">
        <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Selecciona una Categoría
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <!-- <li><a class="dropdown-item" href="#">Acción</a></li>
            <li><a class="dropdown-item" href="#">Animación</a></li>
            <li><a class="dropdown-item" href="#">Bélico</a></li>
            <li><a class="dropdown-item" href="#">Biográfico</a></li>
            <li><a class="dropdown-item" href="#">Catástrofe</a></li>
            <li><a class="dropdown-item" href="#">Ciencia Ficción</a></li>
            <li><a class="dropdown-item" href="#">Comedia</a></li>
            <li><a class="dropdown-item" href="#">Documental</a></li>
            <li><a class="dropdown-item" href="#">Drama</a></li>
            <li><a class="dropdown-item" href="#">Espionaje</a></li>
            <li><a class="dropdown-item" href="#">Fantástico</a></li>
            <li><a class="dropdown-item" href="#">Hechos Reales</a></li>
            <li><a class="dropdown-item" href="#">Histórico</a></li>
            <li><a class="dropdown-item" href="#">Musical</a></li>
            <li><a class="dropdown-item" href="#">Policial</a></li>
            <li><a class="dropdown-item" href="#">Románticas</a></li>
            <li><a class="dropdown-item" href="#">Suspenso</a></li>
            <li><a class="dropdown-item" href="#">Terror</a></li>
            <li><a class="dropdown-item" href="#">Thriller</a></li>
            <li><a class="dropdown-item" href="#">Western</a></li> -->
            {% for category in categories %} 
            <li><a class="dropdown-item" href="{% url 'home' %}?category_filter={{category.slug}}">{{category.title}}</a></li>
            {% endfor %}

        </ul>
    </div>
    <div class="row">
    {% for post_with_img in posts_with_images %}
    
    
            <!-- Ejemplo de película -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{post_with_img.first_image.image.url}}" class="card-img-top" alt="{{post_with_img.post.title}}">
                <div class="card-body">
                    <h5 class="card-title">{{post_with_img.post.title}}</h5>
                    <p class="card-text">Director: George Lucas</p>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Sin resultados</p>
    {% endfor %}

<!-- Sección de avisos -->
<div class="avisos-section">
    {% include 'user/avisos.html' %}

</div>

{% endblock content_layout %}
