<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Avisos</title>
</head>
<body>
    
    <div class="uno">
        <h1>ADVERTENCIAS Y REGLAS</h1>
        <p>
            
            <ul>
                <li>Comentar con respeto y de manera constructiva.</li>
                <li>No se permiten links de otros sitios.</li>
                <li>Tratar de hablar de la pelicula en cuestión, salvo ocasiones especiales. Nada de interminables debates políticos, religiosos, de genero o sexualidad.</li>
                <li>Imágenes están permitidas, pero siempre con moderación y que no sean demasiado grandes.</li>
                <li>Los comentarios de usuarios nuevos siempre son moderados antes de publicarse.</li>
                <li>Por ultimo, las reseñas y criticas en BLOGHORROR pueden contener humor negro-ácido, que de ninguna forma debe ser tomado en serio! y que tienen como fin el puro entretenimiento satírico.</li>
                <li>Disfrute su estadía 😉</li>

            </ul>
        </p>
    </div>
</body>
</html>