{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/banner.css' %}">
    <title>Es Cine</title>
</head>
<body>
    <!-- banner -->
    <div class="uno">
        <img src="{% static 'assets/icon/vista-carrete-pelicula-3d.jpg' %}" alt="">
        
        <span class="cine">ES CINE</span>
        <span class="dos"><a href="./user_login.html">Iniciar Sesión</a></span> 
        <span class="dos"><a href="./user_signup.html">Registrarse</a></span>  
    </div>

     
</body>
</html>