<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"/>
    <link rel="stylesheet" href="banner.css">
    <title>categorias</title>
</head>
<body>
    <div class="categorias">
  <!-- categorias -->
  <button type="button" class="btn btn-outline-success my-2">Acción</button>
  <button type="button" class="btn btn-outline-success my-2">Animación</button>
  <button type="button" class="btn btn-outline-success my-2">Bélico</button>
  <button type="button" class="btn btn-outline-success my-2">Biográfico</button>
  <button type="button" class="btn btn-outline-success my-2">Catástrofe</button>
  <button type="button" class="btn btn-outline-success my-2">Ciencia Ficción</button>
  <button type="button" class="btn btn-outline-success my-2">Comedia</button>
  <button type="button" class="btn btn-outline-success my-2">Documental</button>
  <button type="button" class="btn btn-outline-success my-2">Drama</button>
  <button type="button" class="btn btn-outline-success my-2">Espionaje</button>
  <button type="button" class="btn btn-outline-success my-2">Fantástico</button>
  <button type="button" class="btn btn-outline-success my-2">Hechos Reales</button>
  <button type="button" class="btn btn-outline-success my-2">Histórico</button>
  <button type="button" class="btn btn-outline-success my-2">Musical</button>
  <button type="button" class="btn btn-outline-success my-2">Policial</button>
  <button type="button" class="btn btn-outline-success my-2">Románticas</button>
  <button type="button" class="btn btn-outline-success my-2">Suspenso</button>
  <button type="button" class="btn btn-outline-success my-2">Terror</button>
  <button type="button" class="btn btn-outline-success my-2">Thriller</button>
  <button type="button" class="btn btn-outline-success my-2">Western</button>
  
</div>

  
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>