<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Nosotros</title>
</head>
<body>
    
    <div class="uno">
        <h1>SOBRE NOSOTROS</h1>
        <p>Este es el grupo N°3 del informatorio:
            Sus integrantes son: <!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Asegúrate de ajustar la ruta del CSS -->
                <title>Nosotros</title>
            </head>
            <body>
                
                <div class="uno">
                    <h1>SOBRE NOSOTROS</h1>
                    <p>Este es el grupo N°3 del informatorio:
                        Sus integrantes son: 
                        <ul>
                            <li>Selena Fernandez Blanco</li>
                            <li>Nestor Duarte</li>
                            <li>Florencia Mariasch</li>
                            <li>Carlos Jimenez</li>
                        </ul>
                    <p>Grupo reensamblado, totalmente dedicado y que llega extenuado a la entrega, pero con actitud positiva logra realizar este proyecto Django y que intenta ser un blog que por categorías describe películas en las que los usuarios puedan dejar su opinión.</p>
                    </p>
                </div>
            </body>
            </html>
            
            <ul>
                <li>Selena Fernandez Blanco</li>
                <li>Nestor Duarte</li>
                <li>Florencia Mariasch</li>
                <li>Carlos Jimenez</li>
            </ul>
        <p>Grupo reensamblado, totalmente dedicado y que llega extenuado a la entrega, pero con actitud positva logra realizar este proyecto Django y que intenta ser un blog que por categorías describe peliculas en la que los usuarios puedan dejar su opinión.</p>


        </p>
    </div>
</body>
</html>