<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Asegúrate de ajustar la ruta del CSS -->
    <title>Política de Privacidad</title>
</head>
<body>
    
    <div class="uno">
        <h1>POLÍTICAS DE PRIVACIDAD</h1>
        <p>
            Fecha de entrada en vigor: 15 de octubre de 2024 <br>
            Tu privacidad es importante para nosotros <br>
            El objetivo de ES CINE es conectar a los fanáticos del cine de todo el mundo para conocer sus opiniones. La clave de esta misión es nuestro compromiso de transparencia acerca de los datos que recopilamos sobre ti, los que no se utilizarán ni compartirán. <br>
            Esta Política de privacidad se aplica cuando utilizas nuestros servicios (descritos a continuación). Ofrecemos a nuestros usuarios la posibilidad de opinar y solo eso en este mundo fascinante del cine. <br>
            Registramos los datos de uso, registros de inicio de sesión en ES CINE, solo cuando escribes en nuestro Blog.    
        </p>
    </div>
</body>
</html>
